body{
   display: flex;
   justify-content: center;
}
.title{
   margin: 40% 5%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 300px;
   background-color: rgba(250, 235, 215);
   height: 300px;
   /* scroll-timeline: --custom_name_for_timeline y; */
}

